# Database files
*.sqlite
*.sqlite3

# Backup files
*.backup
*.bak

# Key files
*.pem

# Log files
*.log

# Binary files
simple-suite/cmd/auth-server/auth-server
simple-suite/cmd/example-client-app/example-client-app
